sprites/images/*
background/images/*
fonts/*.png
Configs/*
!Configs/Default.config.gmx
scripts/pal_swap_*
*.ogg
*.wav
*.shader
\#backups
exports
help.rtf
datafiles/lang/*
datafiles/mods/*
datafiles/modifiers.ini
datafiles/readme.txt
datafiles/explanations.txt
exports
extensions
AM2R.exe
data.win
"AM2R Co-op Notes.txt"